In [1]:
# Import libraries:
import pandas as pd

In [3]:
# Global variables:
dir = 'C:/Users/cmart/Documents/GitHub/player-valuation-model/fbref-data'
test_dir = 'C:/Users/cmart/Documents/GitHub/player-valuation-model/fbref-data/ENG-Premier League'
season_ids = ['1516', '1617', '1718', '1819', '1920', '2021', '2122', '2223']
league_ids = ['ENG-Premier League', 'ESP-La Liga', 'FRA-Ligue 1', 'GER-Bundesliga', 'ITA-Serie A']
# Use this table for structure exploration:
test_path = "C:/Users/cmart/Documents/GitHub/player-valuation-model/fbref-data/ENG-Premier League/ENG-Premier League_1920_full_join.xlsx"

In [9]:
# Import the test file:

SKIP_ROWS = [1] 
# 1 skips the outer-level column names and puts the stat names as column names
# 2 makes all columns become unnamed

test_df = (pd
           .read_excel(test_path, header=SKIP_ROWS)
         #   .reset_index()
           )
test_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,MP,Starts,...,onG,onGA,+/-,+/-90,On-Off,onxG,onxGA,xG+/-,xG+/-90,On-Off.1
0,league,season,team,player,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ENG-Premier League,1920,Arsenal,Ainsley Maitland-Niles,ENG,DF,21.0,1997.0,20.0,15.0,...,22.0,21.0,1.0,0.06,-0.24,19.3,22.7,-3.4,-0.22,0.00
2,NaN,NaN,NaN,Alexandre Lacazette,FRA,FW,28.0,1991.0,30.0,22.0,...,36.0,25.0,11.0,0.53,0.70,27.4,29.6,-2.2,-0.11,0.25
3,NaN,NaN,NaN,Bernd Leno,GER,GK,27.0,1992.0,30.0,30.0,...,40.0,39.0,1.0,0.03,-0.78,36.5,42.7,-6.2,-0.21,0.03
4,NaN,NaN,NaN,Bukayo Saka,ENG,"DF,FW",17.0,2001.0,26.0,19.0,...,22.0,18.0,4.0,0.21,-0.01,20.6,26.5,-5.9,-0.30,-0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
617,NaN,NaN,NaN,Ryan John Giles,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
618,NaN,NaN,NaN,Rúben Neves,POR,MF,22.0,1997.0,38.0,35.0,...,48.0,35.0,13.0,0.38,0.88,49.1,33.5,15.6,0.46,0.33
619,NaN,NaN,NaN,Rúben Vinagre,POR,"MF,DF",20.0,1999.0,16.0,6.0,...,10.0,6.0,4.0,0.55,0.32,11.8,6.3,5.5,0.76,0.41
620,NaN,NaN,NaN,Taylor Perry,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
621,NaN,NaN,NaN,Willy Boly,CIV,DF,28.0,1991.0,22.0,22.0,...,26.0,15.0,11.0,0.50,0.50,28.3,21.1,7.2,0.33,-0.23

In [11]:
# List of new column names:
new_cols_dict = {'Unnamed: 0': 'league', 'Unnamed: 1': 'season', 'Unnamed: 2': 'team', 'Unnamed: 3': 'player', 
            'Unnamed: 4': 'nationality', 'Unnamed: 5': 'position', 'Unnamed: 6': 'age', 'Unnamed: 7': 'YOB'}

test_df = test_df.rename(columns=new_cols_dict)
test_df

# Iterate over list of new column names:
# for i in range(len(new_cols)):
#     test_df = test_df.rename(columns={f'Unnamed: {i}': {new_cols[i]}})
# test_df

,league,season,team,player,nationality,position,age,YOB,MP,Starts,...,onG,onGA,+/-,+/-90,On-Off,onxG,onxGA,xG+/-,xG+/-90,On-Off.1
0,league,season,team,player,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ENG-Premier League,1920,Arsenal,Ainsley Maitland-Niles,ENG,DF,21.0,1997.0,20.0,15.0,...,22.0,21.0,1.0,0.06,-0.24,19.3,22.7,-3.4,-0.22,0.00
2,NaN,NaN,NaN,Alexandre Lacazette,FRA,FW,28.0,1991.0,30.0,22.0,...,36.0,25.0,11.0,0.53,0.70,27.4,29.6,-2.2,-0.11,0.25
3,NaN,NaN,NaN,Bernd Leno,GER,GK,27.0,1992.0,30.0,30.0,...,40.0,39.0,1.0,0.03,-0.78,36.5,42.7,-6.2,-0.21,0.03
4,NaN,NaN,NaN,Bukayo Saka,ENG,"DF,FW",17.0,2001.0,26.0,19.0,...,22.0,18.0,4.0,0.21,-0.01,20.6,26.5,-5.9,-0.30,-0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
617,NaN,NaN,NaN,Ryan John Giles,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
618,NaN,NaN,NaN,Rúben Neves,POR,MF,22.0,1997.0,38.0,35.0,...,48.0,35.0,13.0,0.38,0.88,49.1,33.5,15.6,0.46,0.33
619,NaN,NaN,NaN,Rúben Vinagre,POR,"MF,DF",20.0,1999.0,16.0,6.0,...,10.0,6.0,4.0,0.55,0.32,11.8,6.3,5.5,0.76,0.41
620,NaN,NaN,NaN,Taylor Perry,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
621,NaN,NaN,NaN,Willy Boly,CIV,DF,28.0,1991.0,22.0,22.0,...,26.0,15.0,11.0,0.50,0.50,28.3,21.1,7.2,0.33,-0.23

In [ ]:
nan_columns = test_df.columns[test_df.isna().any()].tolist()

test_col = nan_columns[0]
# test_df[test_col] = test_df.groupby('Unnamed: 0')[test_col].transform(lambda x: x.ffill().bfill())
test_df[test_col] = test_df.transform('Unnamed: 0')
test_df

# for col in nan_columns[:7]:
#     test_df[col] = test_df.groupby('metric')[col].transform(lambda x: x.ffill().bfill())