In [1]:
# Import libraries:
import pandas as pd

In [2]:
# Global variables:
dir = 'C:/Users/cmart/OneDrive - Bentley University/Research/Player Valuation Model'
eng_dir = 'C:/Users/cmart/OneDrive - Bentley University/Research/Player Valuation Model/ENG-Premier League'
season_ids = ['1516', '1617', '1718', '1819', '1920', '2021', '2122', '2223']
league_ids = ['ENG-Premier League', 'ESP-La Liga', 'FRA-Ligue 1', 'GER-Bundesliga', 'ITA-Serie A']
test_path = "C:/Users/cmart/OneDrive - Bentley University/Research/Player Valuation Model/ENG-Premier League/ENG-Premier League_1920_full_join.xlsx"

In [4]:
# Test resetting the index to see what happens to the multi-index columns:
test_df = (pd
           .read_excel(test_path)
        #    .reset_index()
           )
test_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,nation_r,pos_r,age_r,born_r,Playing Time_r,Unnamed: 9,...,Unnamed: 192,Unnamed: 193,Unnamed: 194,Unnamed: 195,Unnamed: 196,Team Success (xG),Unnamed: 198,Unnamed: 199,Unnamed: 200,Unnamed: 201
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MP,Starts,...,onG,onGA,+/-,+/-90,On-Off,onxG,onxGA,xG+/-,xG+/-90,On-Off
1,league,season,team,player,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ENG-Premier League,1920,Arsenal,Ainsley Maitland-Niles,ENG,DF,21.0,1997.0,20,15,...,22,21,+1,+0.06,-0.24,19.3,22.7,-3.4,-0.22,0.00
3,NaN,NaN,NaN,Alexandre Lacazette,FRA,FW,28.0,1991.0,30,22,...,36,25,+11,+0.53,+0.70,27.4,29.6,-2.2,-0.11,+0.25
4,NaN,NaN,NaN,Bernd Leno,GER,GK,27.0,1992.0,30,30,...,40,39,+1,+0.03,-0.78,36.5,42.7,-6.2,-0.21,+0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,NaN,NaN,NaN,Ryan John Giles,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
619,NaN,NaN,NaN,Rúben Neves,POR,MF,22.0,1997.0,38,35,...,48,35,+13,+0.38,+0.88,49.1,33.5,+15.6,+0.46,+0.33
620,NaN,NaN,NaN,Rúben Vinagre,POR,"MF,DF",20.0,1999.0,16,6,...,10,6,+4,+0.55,+0.32,11.8,6.3,+5.5,+0.76,+0.41
621,NaN,NaN,NaN,Taylor Perry,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
622,NaN,NaN,NaN,Willy Boly,CIV,DF,28.0,1991.0,22,22,...,26,15,+11,+0.50,+0.50,28.3,21.1,+7.2,+0.33,-0.23